body {
  font-family: 'Assistant';
  font-weight: normal; }

.h2,
.h1,
.r-article-title,
.content-area-title,
.aside-filter .filter-block .filter-block-title,
.s-employee-content .sect-title,
.column-img-text h3,
.value-title,
.autor-name,
.bold-text,
.p-content-title {
  font-family: 'Assistant'; }

ul.tabs li.tab-current {
  -webkit-box-shadow: 0px -7px 9px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px -7px 9px 0px rgba(0, 0, 0, 0.11); }

.quotes {
  margin: 0 0; }

.s-search .SumoSelect > .CaptionCont > label {
  right: 88%; }

.header-form-search .input {
  right: auto;
  left: 30px; }

.internal-menu ul::before {
  left: auto;
  right: 0; }

#crl {
  left: auto;
  right: 17px; }

.s-first-home-screen .h1 {
  padding-right: 4%; }

/*==========  Media  ==========*/
@media screen and (max-width: 1440px) {
  .header-additional-menu {
    margin: 0 auto 0 0; }
  .header-form-search .input {
    left: 30px;
    right: auto; }
  .menu-for-mob {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .first-inner-screen-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .s-first-home-screen .h1 {
    padding-right: 15%; } }

@media screen and (max-width: 992px) {
  .footer-menu-title::after {
    left: 0;
    right: auto; }
  .s-first-home-screen .h1 {
    padding-right: 0; } }

@media screen and (max-width: 768px) {
  .p-aside-content ul {
    -webkit-padding-end: 0;
            padding-inline-end: 0; }
  .filter-block-title::after {
    left: 0;
    right: auto; } }

@media screen and (max-width: 480px) {
  .tab-mob-title::after {
    right: auto;
    left: 15px; } }
