@font-face {
	font-family: 'Assistant';
	src: url("../fonts/Assistant-Bold.eot");
	src: url("../fonts/Assistant-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Assistant-Bold.woff2") format("woff2"), url("../fonts/Assistant-Bold.woff") format("woff"), url("../fonts/Assistant-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Assistant';
	src: url("../fonts/Assistant-ExtraBold.eot");
	src: url("../fonts/Assistant-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Assistant-ExtraBold.woff2") format("woff2"), url("../fonts/Assistant-ExtraBold.woff") format("woff"), url("../fonts/Assistant-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Assistant';
	src: url("../fonts/Assistant-Regular.eot");
	src: url("../fonts/Assistant-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Assistant-Regular.woff2") format("woff2"), url("../fonts/Assistant-Regular.woff") format("woff"), url("../fonts/Assistant-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Assistant';
	src: url("../fonts/Assistant-SemiBold.eot");
	src: url("../fonts/Assistant-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Assistant-SemiBold.woff2") format("woff2"), url("../fonts/Assistant-SemiBold.woff") format("woff"), url("../fonts/Assistant-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Assistant';
	src: url("../fonts/Assistant-Light.eot");
	src: url("../fonts/Assistant-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Assistant-Light.woff2") format("woff2"), url("../fonts/Assistant-Light.woff") format("woff"), url("../fonts/Assistant-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
